
@tailwind base ;
@tailwind components;
@tailwind utilities;


.header-bg{
    background-image: url("https://postimg.cc/gnZX0HCS");
    background-size:  cover;   
    background-repeat: no-repeat;
    background-position: center;
 }